{% extends 'base.html' %}
{% load static %}


{% block meta %}{% endblock meta %}

{% block title %}Favorites{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'map/css/search_map.css' %}">
<link rel="stylesheet" href="{% static 'map/css/favorites.css' %}">
{% endblock link %}

{% block head_script %}
{% endblock head_script %}






{% block content %}
<!-- <div class="map"></div>
<div class="search-wrapper">
    <ul class="search-results">
    </ul>
</div> -->
{% endblock content %}

{% block script %}
<script>
    const favs = "{{favs}}"
    const api_url = "{% url 'map:add_favorite' %}"
    const update_api_url = "{% url 'map:update_favorite' %}"
    const get_api_url = "{% url 'map:get_favorite' %}"
    const csrf = "{{csrf_token}}"
</script>
<script src="{% static 'map/js/favorites.js' %}"></script>
{% endblock script %}