{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <!-- title -->
    <title>{% block title %}{% endblock title %}</title>

    <!-- link -->
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block link %}{% endblock link %}

    <!-- head Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=발급받은키&libraries=services,clusterer"></script>
    {% block head_script %}{% endblock head_script %}
</head>

<body>
    {% include "partials/navigation.html" %}

    <!-- main content -->
    <div id="root">
        {% block content %}{% endblock content %}
    </div>

    <!-- Script -->
    {% block script %}{% endblock script %}
</body>

</html>